{{ define "main" }}
{{ $home := .Site.GetPage "/home" }}
<div x-data="{}" x-init="$nextTick(() => {
      let ul = $refs.gallery;
      ul.insertAdjacentHTML('afterend', ul.outerHTML);
      ul.nextSibling.setAttribute('aria-hidden', 'true');
  })"
  class="w-full relative overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]">
  <div class="w-full inline-flex flex-nowrap">
    <ul x-ref="gallery" class="flex items-center justify-center md:justify-start animate-infinite-scroll px-2">
      <li>
        <div class="grid grid-rows-3 grid-flow-col gap-4">
          {{- range $home.Resources.ByType "image" }}
          <img src="{{ .RelPermalink }}" alt="{{ .Name }}" class="object-fill w-auto h-40 max-w-none" />
          {{- end }}
        </div>
      </li>
    </ul>
  </div>
  <div class="absolute flex top-0 bottom-0 left-0 right-0 bg-slate-500/[0.5] p-10">
    <img src="/images/logo.png" class="mx-auto object-contain aspect-auto opacity-95 backdrop-shadow-2xl" />
  </div>
</div>
<div
  class="hidden my-16 probe prose-gray prose-img:rounded-lg prose-img:shadow-4xl prose-headings:font-semibold prose-headings:text-center prose-headings:leading-10 pros-h3:leading-6 prose-h3:capitalize prose-h3:font-medium prose-p:text-sm prose-p:mt-1 prose-p:text-gray-500 dark:prose-p:text-gray-400 prose-p:font-light prose-p:text-justify dark:prose-invert">
  <h2>Products 产品类别</h2>
  <div class="grid md:grid-cols-4 max-w-screen-md mx-auto gap-10 mt-8 px-5">
    <div class="flex gap-4 items-center flex-col">
      <img
        src="https://static.wixstatic.com/media/ee5ae4_62d02d4fd4b948af9b410fe626a8bf4c~mv2.jpg/v1/fill/w_226,h_287,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ee5ae4_62d02d4fd4b948af9b410fe626a8bf4c~mv2.jpg"
        class="shadow-amber-400/50"></img>
      <div>
        <h3>guitar 吉他</h3>
        <p>You don't need to be an expert to use our plugin. Our expressive API is
          readable and well documented.</p>
      </div>
    </div>
    <div class="flex gap-4 items-center flex-col ">
      <img
        src="https://static.wixstatic.com/media/ee5ae4_1fb951e2a1e34e2c8fa4ae18e423a442~mv2_d_1692_1365_s_2.jpg/v1/fill/w_227,h_287,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ee5ae4_1fb951e2a1e34e2c8fa4ae18e423a442~mv2_d_1692_1365_s_2.jpg"
        class="shadow-red-600/50"></img>
      <div>
        <h3>pedals 效果器</h3>
        <p> You don't need to be an expert to use our plugin. Our expressive API is
          readable and well documented.</p>
      </div>
    </div>
    <div class="flex gap-4 items-center flex-col ">
      <img
        src="https://static.wixstatic.com/media/ee5ae4_de13bc97f07f47b8b58caf7d81dc86bb~mv2.jpg/v1/fill/w_229,h_287,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ee5ae4_de13bc97f07f47b8b58caf7d81dc86bb~mv2.jpg"
        class="shadow-yellow-600/50"></img>
      <div>
        <h3>cable 线材</h3>
        <p> You don't need to be an expert to use our plugin. Our expressive API is
          readable and well documented.</p>
      </div>
    </div>
    <div class="flex gap-4 items-center flex-col">
      <img
        src="https://static.wixstatic.com/media/ee5ae4_b46cd7371b90468dbe427704d3ae1182~mv2_d_1765_2312_s_2.jpg/v1/fill/w_226,h_287,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ee5ae4_b46cd7371b90468dbe427704d3ae1182~mv2_d_1765_2312_s_2.jpg"
        class="shadow-zinc-500/50"></img>
      <div>
        <h3>accessory 配件</h3>
        <p> You don't need to be an expert to use our plugin. Our expressive API is
          readable and well documented.</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
