{{ define "main" }}
{{- $imageResources := .GetPage "/homepage" }}
<img
  src="https://static.wixstatic.com/media/ee5ae4_e9fe9ab7a34542e4bc6be850bc703d50~mv2_d_5760_3384_s_4_2.jpg/v1/fill/w_2560,h_874,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/ee5ae4_e9fe9ab7a34542e4bc6be850bc703d50~mv2_d_5760_3384_s_4_2.jpg"></img>
<div class="flex flex-wrap">
  <img src="/images/homepage/gallary/01.webp" class="w-1/5 object-cover">
  <img src="/images/homepage/gallary/02.webp" class="w-1/5">
  <img src="/images/homepage/gallary/03.webp" class="w-1/5">
  <video poster="/images/homepage/gallary/04.webp" class="w-2/5 object-cover" autoplay muted>
    <source src="/images/homepage/gallary/04.mp4" type="video/mp4">
    </source>
  </video>
  <img src="/images/homepage/gallary/05.webp" class="w-4/12 object-cover">
  <img src="/images/homepage/gallary/x.webp" class="w-4/12 object-cover">
  <img src="/images/homepage/gallary/06.webp" class="w-4/12 object-cover">
  <img src="/images/homepage/gallary/07.webp" class="w-1/5">
  <img src="/images/homepage/gallary/08.webp" class="w-1/5">
  <img src="/images/homepage/gallary/09.webp" class="w-1/5">
  <img src="/images/homepage/gallary/10.webp" class="w-1/5">
  <img src="/images/homepage/gallary/11.webp" class="w-1/5">
</div>
<div class="my-4">
  <h2 class="text-2xl text-center text-bold py-6">Product Category 产品类别</h2>
  <div class="flex flex-wrap flex-shrink justify-center align-start">
    <div class="mx-4">
      <img
        src="https://static.wixstatic.com/media/ee5ae4_62d02d4fd4b948af9b410fe626a8bf4c~mv2.jpg/v1/fill/w_226,h_287,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ee5ae4_62d02d4fd4b948af9b410fe626a8bf4c~mv2.jpg"></img>
      <div class="relative opacity-70 left-0 right-0 text-center bg-white -top-12 mx-4 p-6">
        <div class="mb-4">Guitar</div>
        <div>吉他</div>
      </div>
    </div>
    <div class="mx-4">
      <img
        src="https://static.wixstatic.com/media/ee5ae4_62d02d4fd4b948af9b410fe626a8bf4c~mv2.jpg/v1/fill/w_226,h_287,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ee5ae4_62d02d4fd4b948af9b410fe626a8bf4c~mv2.jpg"></img>
      <div class="relative opacity-70 left-0 right-0 text-center bg-white -top-12 mx-4 p-6">
        <div class="mb-4">Guitar</div>
        <div>吉他</div>
      </div>
    </div>
    <div class="mx-4">
      <img
        src="https://static.wixstatic.com/media/ee5ae4_62d02d4fd4b948af9b410fe626a8bf4c~mv2.jpg/v1/fill/w_226,h_287,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ee5ae4_62d02d4fd4b948af9b410fe626a8bf4c~mv2.jpg"></img>
      <div class="relative opacity-70 left-0 right-0 text-center bg-white -top-12 mx-4 p-6">
        <div class="mb-4">Guitar</div>
        <div>吉他</div>
      </div>
    </div>
    <div class="mx-4">
      <img
        src="https://static.wixstatic.com/media/ee5ae4_62d02d4fd4b948af9b410fe626a8bf4c~mv2.jpg/v1/fill/w_226,h_287,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ee5ae4_62d02d4fd4b948af9b410fe626a8bf4c~mv2.jpg"></img>
      <div class="relative opacity-70 left-0 right-0 text-center bg-white -top-12 mx-4 p-6">
        <div class="mb-4">Guitar</div>
        <div>吉他</div>
      </div>
    </div>
  </div>
</div>
{{ end }}
