{{ define "main" }}
<div
  class="container mx-auto max-w-screen-md my-4 px-4 md:px-0 probe prose-gray prose-img:mx-auto prose-headings:font-bold prose-headings:text-center prose-headings:text-lg prose-headings:capitalize prose-headings:leading-10 prose-img:my-4 prose-p:text-sm prose-p:mt-1 prose-p:text-gray-500 dark:prose-p:text-gray-400 prose-p:font-light prose-p:text-justify prose-p:leading-loose dark:prose-invert">
  <h1>{{ .Title }}</h1>
  <img
    src="https://static.wixstatic.com/media/ee5ae4_7c0a1abfa8734f26975d38581325cfda~mv2_d_2048_1365_s_2.jpg/v1/fill/w_980,h_427,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ee5ae4_7c0a1abfa8734f26975d38581325cfda~mv2_d_2048_1365_s_2.jpg"
    class="hidden"></img>
  <img src="/images/logo.png" class="dark:brightness-100 brightness-0 w-96"></img>
  <p>
    Since its establishment, Watchtower Gear has built a complete and mature sales network, as well as a professional
    and enthusiastic service and after-sales system. Building a bridge of passion between those outstanding musical
    instrument brands and users around the world has always been the company's commitment. With this mission, our
    journey in the guitar world will never come to an end.
  </p>
  <p>
    Watchtower Gear从创立至今，已经拥有完整成熟的销售网络、专业热情的服务与售后体系。
    在世界上那些出色的乐器品牌与用户之间搭建一座热情之桥，一直是公司致力的方向。带着这种使命，我们在吉他世界中的旅程永不会终止。
  </p>
  <img
    src="https://static.wixstatic.com/media/ee5ae4_08448d8fce3c433aae68270dbccfe47c~mv2.jpg/v1/fill/w_980,h_426,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ee5ae4_08448d8fce3c433aae68270dbccfe47c~mv2.jpg"
    class="hidden"></img>
</div>
{{ end }}
