{{ define "main" }}
<div
  class="container mx-auto max-w-screen-md my-4 px-4 md:px-0 probe prose-gray prose-img:mx-auto prose-headings:font-bold prose-headings:text-center props-headings:text-lg prose-headings:capitalize prose-headings:leading-10 prose-img:my-4 prose-p:text-sm prose-p:mt-1 prose-p:text-gray-500 dark:prose-p:text-gray-400 prose-p:font-light prose-p:text-justify prose-p:leading-loose dark:prose-invert">
  <h1>{{ .Title }}</h1>
  <img
    src="https://static.wixstatic.com/media/ee5ae4_7c0a1abfa8734f26975d38581325cfda~mv2_d_2048_1365_s_2.jpg/v1/fill/w_980,h_427,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ee5ae4_7c0a1abfa8734f26975d38581325cfda~mv2_d_2048_1365_s_2.jpg"></img>
  <img
    src="https://static.wixstatic.com/media/ee5ae4_13c7254454124e88bb8f07d82a3af3f8~mv2.png/v1/fill/w_296,h_98,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ee5ae4_13c7254454124e88bb8f07d82a3af3f8~mv2.png"></img>
  <p>
    Based in Hong Kong, Ficcy International Limited enjoys the advantages of its distinct location and advanced
    logistics hub in this metropolis. It continues to introduce world-renowned brands of high-quality musical
    instrument, develops and promotes musical and cultural industries with innovative thinking, strives to bring the
    latest and best products to the Mainland.
    The team of Ficcy International Limited has always been adhering to the customer-first purpose, the acting world's
    quality products as the goal so as to provide outstanding, professional and reliable after-sales service for
    absolute credibility.
  </p>
  <p>
    御世乐器以香港作为基地，尽享国际大都会优越地理位置及物流枢纽的优势，持续引进世界知名优质乐器品牌，以创新思维拓展及推广音乐文化产业，致力将最新最好的产品带到中国大陆。
    御世团队一向秉承以客为先的宗旨，代理世界优质产品为目标，提供完善售后服务为责任，信誉超卓，专业可靠！
  </p>
  <img
    src="https://static.wixstatic.com/media/ee5ae4_08448d8fce3c433aae68270dbccfe47c~mv2.jpg/v1/fill/w_980,h_426,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ee5ae4_08448d8fce3c433aae68270dbccfe47c~mv2.jpg"></img>
</div>
{{ end }}
