{{ define "main" }}
<div class="container my-4 mx-auto max-w-screen-md">
  <h2 class="capitalize text-2xl text-center text-bold py-6">{{ .Title }}</h2>
  <img src="/images/logos.webp" class="mx-auto">
  <h3 class="capitalize text-xl text-center text-bold py-6">Introduction 简介</h3>
  <img
    src="https://static.wixstatic.com/media/ee5ae4_b62cd4d900f3457e803cbe5ed158dfd2~mv2.jpg/v1/fill/w_725,h_275,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/FgN%20Banner.jpg"
    class="mx-auto">
  <p>成立于1960年的日本 Fujigen（富士弦）乐器工厂是目前世界一流、亚洲和日本最好的吉他生产厂商，在1983年，他们甚至是世界第一的吉他制造厂商。1970年起 Fujigen 已替各大吉他品牌代工。曾与 Roland
    合资企业，生产吉他合成器；也曾获得日厂 Fender 的合约；后期更获得为 Orville by Gibson 代工的合约，同时也做了 Epiphone 日厂的电吉他、Gretsch
    的型号。而当中不得不提世界知名的「I」字头品牌，所有的日产系列产品全部是由 Fujigen 生产的，这其中包括了各种大师签名款、特别纪念款等最顶级的系列。

    Fujigen 凭借近40年的经验，日本精神的精细做工，各吉他大牌的严格要求与磨练，粹练出他们的自有品牌「FgN」。而当中 J-Standard
    的使命是改进和完善那些史上最历久久弥新的吉他型号，为乐手带来更强的演奏性能，激发潜力的潜力，对于这个摩登年代的吉他手来说，J -Standard 新的原创设计和特别改进的功能是极为实用的选择。</p>
  <img
    src="https://static.wixstatic.com/media/ee5ae4_7fac558a4faf4525aca7183606ebd851~mv2.jpg/v1/fill/w_725,h_275,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/5-Momose%20Banner.jpg"
    class="mx-auto my-6">
  <p>
    成立于1960年的日本 Fujigen（富士弦）乐器工厂是目前世界一流、亚洲和日本最好的吉他生产厂商，在1983年，他们甚至是世界第一的吉他制造厂商。1970年起 Fujigen 已替各大吉他品牌代工。曾与 Roland
    合资企业，生产吉他合成器；也曾获得日厂 Fender 的合约；后期更获得为 Orville by Gibson 代工的合约，同时也做了 Epiphone 日厂的电吉他、Gretsch
    的型号。而当中不得不提世界知名的「I」字头品牌，所有的日产系列产品全部是由 Fujigen 生产的，这其中包括了各种大师签名款、特别纪念款等最顶级的系列。

    Fujigen 凭借近40年的经验，日本精神的精细做工，各吉他大牌的严格要求与磨练，粹练出他们的自有品牌「FgN」。而当中 J-Standard
    的使命是改进和完善那些史上最历久久弥新的吉他型号，为乐手带来更强的演奏性能，激发潜力的潜力，对于这个摩登年代的吉他手来说，J -Standard 新的原创设计和特别改进的功能是极为实用的选择。

    Momose Custom Craft Guitars
    是日本一个传统的高端手工琴品牌。以全手工制作，日本首屈一指的总设计师百瀬恭夫其顶级乐器制造哲学和技术已经升华为产品，由他领军的专业生产团队制作，其高端技术及严格监督而受到世界认可。产品保持传统优秀的设计外，又能突破传统做出优质又可玩性高的杰作。

    Momose 一直以技术中心为基础，30多年来为所有制造工艺奠定基础，他们亲自度身设计了各种工具制作吉他，并从事OEM (代工) 生产，当中包括著名的吉他品牌 James
    Taylor。每件作品都是由工匠的经验和技术手工精心制作而成。
  </p>
  <p class="my-4">
    御世乐器以香港作为基地，尽享国际大都会优越地理位置及物流枢纽的优势，持续引进世界知名优质乐器品牌，以创新思维拓展及推广音乐文化产业，致力将最新最好的产品带到中国大陆。
    御世团队一向秉承以客为先的宗旨，代理世界优质产品为目标，提供完善售后服务为责任，信誉超卓，专业可靠！
  </p>
  <img
    src="https://static.wixstatic.com/media/ee5ae4_08448d8fce3c433aae68270dbccfe47c~mv2.jpg/v1/fill/w_980,h_426,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ee5ae4_08448d8fce3c433aae68270dbccfe47c~mv2.jpg"
    class="mx-auto my-4">
</div>
{{ end }}
